<div class="row">
    <div class="col-sm-6, col-md-6">
        <h2>Delete User</h2>
        <form [formGroup]="userDeleteForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="userId">Enter Id to be deleted</label>
                <input type="text" class="form-control" id="userId"
                formControlName="userId">       
                    <div class="alert alert-danger" *ngIf="userDeleteForm.get('userId').invalid 
                        && userDeleteForm.get('userId').touched">
                        Please enter a valid Id
                    </div>                                        
            </div>
            <button type="submit" [disabled]="userDeleteForm.invalid" class="btn btn-success">Submit</button>
            
        </form> 
    </div>
</div>
<div class="row"> 
    <div class="col-sm-6, col-md-6">
        <div class="alert alert-danger" *ngIf="deleteMsg">
            <p>{{ deleteMsg }}</p>
        </div>
    </div>
</div>