<div class="row">
    <div class="col-sm-6, col-md-6">
    <h2>User Registration</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName"
              formControlName="firstName">       
            <div class="alert alert-danger" *ngIf="userForm.get('firstName').invalid 
              && userForm.get('firstName').touched">
              <div *ngIf="userForm.get('firstName').errors.required">
                First Name is required.
              </div>
              <div *ngIf="userForm.get('firstName').errors.minlength">
                First Name must be at least 5 characters long.
              </div>
            </div>                      
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName"
              formControlName="lastName">       
            <div class="alert alert-danger" *ngIf="userForm.get('lastName').invalid 
              && userForm.get('lastName').touched">
              <div *ngIf="userForm.get('lastName').errors.required">
                Last Name is required.
              </div>
              <div *ngIf="userForm.get('lastName').errors.minlength">
                Last Name must be at least 3 characters long.
              </div>
            </div>                      
          </div>
          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control" id="startDate"
            formControlName="startDate">                        
          </div>
          <div class="form-group">
            <label for="userType">User Type</label>
            <select class="form-control" id="userType"                    
            formControlName="userType">
              <option *ngFor="let type of userTypes" [value]="type">{{type}}</option>
            </select>
          </div>
          <button type="submit" [disabled]="userForm.invalid" class="btn btn-success">Submit</button>
        </form>
        <div class="row"> 
          <div class="col-sm-6, col-md-6">
            <div class="alert alert-info" *ngIf=isAdded>
              <p>User Added SuccessFully!</p>
              <button class="btn btn-primary" (click)="resetUserForm()">Add another user</button>
            </div>
          </div>  
        </div>
    </div>
</div>